@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url("../../imports/typography/Montserrat-Bold.ttf"); }

body {
  background-color: #ffe482;
  margin: 0; }

.vcenter {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.header {
  align-items: center;
  background-color: white;
  max-width: 1280px;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 15; }

.header__grid {
  display: grid;
  grid-template-columns: 70% 30%; }

.header__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  float: left; }

.header__img {
  height: 2rem;
  padding: 1rem; }

.header__menu {
  border-radius: 5px;
  color: white;
  float: right;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  text-align: right;
  transition: background-color .2s; }

.header__menu .header__menu__link {
  text-align: center; }

.header__menu a {
  display: block; }

.header__menu__link {
  border-top: 1px white solid;
  color: white;
  font-size: .5rem;
  height: 2rem;
  opacity: 0;
  visibility: hidden;
  position: relative;
  text-decoration: none;
  transition: opacity .2s, visibility .2s;
  vertical-align: middle; }

.header__menu__link:hover {
  opacity: .6; }

.icon--menu {
  height: 1.5rem;
  padding: .5rem;
  transition: fill .2s; }

.header__menu.responsive {
  background-color: #656262; }
  .header__menu.responsive .header__menu__link {
    opacity: 1;
    visibility: visible; }
  .header__menu.responsive .icon--menu {
    fill: white; }

@media only screen and (min-width: 768px) {
  .header__grid {
    grid-template-columns: 30% 70%; }
  .header__title {
    font-size: 3rem; }
  .header__img {
    height: 3rem; }
  .header__menu__responsive {
    display: none; }
  .header__menu {
    text-align: center;
    padding-top: 1rem; }
  .header__menu a {
    display: inline;
    padding: 1.5rem; }
  .header__menu__link {
    color: black;
    font-size: .8rem;
    opacity: 1;
    visibility: visible; }
  .icon--menu {
    display: none; }
  .header__menu.responsive {
    background-color: transparent; } }

.footer {
  background-color: white;
  margin: auto;
  max-width: 1280px;
  min-height: 10rem;
  position: relative;
  z-index: 15; }

.footer__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  padding: 4rem 2rem 0 2rem; }

.footer__info {
  color: #656262;
  flex: 0 1 100%;
  transition: flex .5s; }

.footer__info__link {
  color: #656262;
  text-decoration: underline; }

.footer__rrss {
  flex: 0 1 100%;
  transition: flex .5s; }

.footer__rrss__link {
  text-decoration: none;
  transition: opacity .2s; }

.footer__rrss__link:hover {
  opacity: .6; }

.footer__rrss__link .icon {
  height: 2rem;
  padding: 0 1rem 0 0; }

@media only screen and (min-width: 1024px) {
  .footer__flex {
    text-align: left; }
  .footer__info {
    flex: 0 1 80%; }
  .footer__rrss {
    flex: 0 1 20%; } }

.management {
  margin: auto;
  max-width: 780px;
  padding: 5rem 0 5rem 0;
  position: relative;
  z-index: 5; }

.management__grid {
  display: grid;
  grid-template-rows: 50% 50%; }

.management__artist {
  margin: 1rem;
  position: relative;
  overflow: hidden; }

.management__img {
  width: 100%; }

.management__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2rem;
  font-weight: bold; }

.management__rrss {
  display: none; }

.management__rrss__link {
  text-decoration: none;
  transition: opacity .2s; }

.management__rrss__link:hover {
  opacity: .3; }

@media only screen and (min-width: 768px) {
  .management__grid {
    grid-template-columns: 50% 50%; }
  .management__info {
    background-color: rgba(0, 0, 0, 0.95);
    margin: auto;
    height: 100%;
    padding-top: 5rem;
    position: absolute;
    text-align: center;
    transition: opacity .2s;
    top: 0;
    opacity: 0;
    width: 100%; }
  .management__info:hover {
    opacity: 1; }
  .management__title {
    color: white; }
  .management__rrss {
    display: inherit;
    padding-top: 5rem; }
  .management__rrss .icon {
    fill: white;
    height: 3rem;
    padding: 2rem; } }
